@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Moirai+One&family=Rubik+80s+Fade&family=Rubik+Glitch&family=Rubik+Spray+Paint&display=swap');
/* CSS Variables */

:root {
    --perspective: 60rem;
    --font-size: 4.25rem;
    --split-position: 29%;
    --split-thickness: 4px;
    --split-color: #000000;

}



/* Font settings */
font-settings {
    font-family: 'Covered By Your Grace';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
}

/* HTML and Body */
html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #000000;

}

.Menu {


    align-items: center;

   
   

}

/* Menu <ul> */
.Menu-list {
    font-family: 'Covered By Your Grace';
    font-size: var(--font-size);
    line-height: 2;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
   
    /* transform: rotateX(-40deg) rotateY(30deg); */
    list-style-type: none;
    padding-right: 10vw;
    padding-left: 10vw;
    margin-bottom: 15vw;
    



}

/* Menu item */
.Menu-list-item {
    position: relative;
    color: transparent;
    cursor: pointer;
    height: var(--split-position);
    /* background-color: rgba(230, 228, 228, 0.724); */
    width: 100vw;
    
    
    
    
    /* background-color: grey; */
    
    color: #000000;

    


}
a{
    padding-top: 5vw;
   
}
.A1{
    background-image: url("https://media3.giphy.com/media/d3mlE7uhX8KFgEmY/giphy.gif");
    background-size: 0% 0%;
    
    
}

.A2{
    background-image: url("https://www.imagic.co.nz/assets/uploads/images/feed/when-the-signs-are-there-branding-rebrand/Thinking-GIF.gif");
    background-size: 0% 0%;
}

.B1{
    background-image: url('https://media2.giphy.com/media/2jOcXFwhIEypPeQvOY/giphy.gif');
   background-size: 0% 0%;
}

.B2{
    background-image: url("https://media.tenor.com/4Nh-kwo0mSQAAAAM/batman-thinking.gif");
    background-size: 0% 0%;
}

.B3{
    background-image: url("https://i.pinimg.com/originals/a9/35/6f/a9356fbfe7c590080c655f72edd5fc41.gif");
    background-size: 0% 0%;
}



/* Top/bottom mask */
.Mask {

    display: block;
    position: relative;
    text-indent: 100%;
    font-size: 4vw;
    overflow: hidden; 
    color: var(--split-color);
    border-radius: 10vw;
    /* background-image: url("https://cdn.wallpapersafari.com/86/96/z1vP0M.gif"); */
    background-repeat: no-repeat;
    
    background-position: center;
    
    transition: all 2s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    

    


}




.Mask:active,
.Mask:hover {
    background-size:  25vw;
    text-indent: 0%;
    color: aliceblue;
    font-size: 2vw;
    height: 10vw;
}

@media (max-width: 768px) {
    .Mask:active,
    .Mask:hover {
        background-size: 25vw;
        text-indent: 0%;
        color: white;
        font-size: 2vw;
    }
}


#container {
    position: absolute;

    align-items: center;
    width: 100vw;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: 'Rubik Spray Paint', 'Covered By Your Grace', sans-serif;
    font-size: 6vw;

    text-align: center;

    user-select: none;

    text-transform: uppercase;
    letter-spacing: 1.5vw;
    background: linear-gradient(to top, #060606, #ffffff, #060505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

