/* CSS Variables */

:root {
    --perspective: 60rem;
    --font-size: 4.25rem;
    --split-position:29%;
    --split-thickness: 4px;
    --split-color: #ffffffc1;
   
}



/* Font settings */
font-settings {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
}

/* HTML and Body */
html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background: linear-gradient(50deg, #3b0144c4, #131313);
    transform-style: preserve-3d;
    transform: perspective(var(--perspective));
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
    
}

/* Menu <ul> */
.Menu-list {
    font-size: var(--font-size);
    line-height: 2;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateX(-40deg) rotateY(20deg);
    list-style-type: none;
    margin: 20px;
    
}

/* Menu item */
.Menu-list-item {
    position: relative;
    color: transparent;
    cursor: pointer;
    height: var(--split-position);
    background-color: rgba(230, 228, 228, 0.724);
    background-image: url("https://cdn.wallpapersafari.com/86/96/z1vP0M.gif") ;
    background-repeat: no-repeat;
     background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  margin: 50px;
    
}



/* Top/bottom mask */
.Mask {
    
    display: block;
    position: absolute;
    overflow: hidden;
    color: var(--split-color);
    top: 0;
    height: var(--split-position);
    transition: all 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) ;
    padding-top: 10px;
}
.Menu-list-item:hover{
    /* background-color: rgba(230, 228, 228, 0.724);
    background-image: url("https://cdn.wallpapersafari.com/86/96/z1vP0M.gif") ;
    background-repeat: no-repeat;
     background-attachment: fixed;
  background-position: center;  */
    /* color: #ffffff;
    
    
    font-size: 100px;
    overflow: visible; */

}
.Mask:hover{
    height: 100%;
}
.A:hover{
    left: 120px;
    
}
.B:hover{
    right: 120px;
}